body {
    text-align: center;
    background-color: black;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: lightcoral;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: lightcoral;
}

.game {
    background-color: BLACK;
    padding: 5px;
    width: 600px;
    height: 850px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: solid;
}

table {
    border: solid;
    border-color: lightcoral;
    padding: 3px;
    margin: auto;
    cursor: pointer;
    border-radius: 10px;
}

td {
    width: 23px;
    height: 23px;
    border: solid;
    border-color: lightcoral;
    border-radius: 5px;
    color: white;
}

td:not(hover) {
    transition: 0.3s;
}

.covered:hover {
    background-color: blue;
    scale: 1.2;
    transition: 0.3s;
}

.covered {
    border: solid;
    border-color: lightcoral;
    background-color: darkblue;
}

.smiley {
    background-color: darkblue;
    border-color: lightcoral;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    font-size: 30px;
    border: solid;
    border-radius: 10px;
    cursor: pointer;
}

.smiley:hover {
    scale: 1.1;
    border-radius: 50%;
    background-color: blue;
    transition: 0.5s;
}

.smiley:not(hove) {
    transition: 0.5s;
}

.boom {
    background-color: orange;
}

.levels {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.btn {
    padding: 5px;
    background-color: darkblue;
    color: lightcoral;
    border-radius: 10px;
    border-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn:hover {
    scale: 1.1;
    transition: 0.5s;
    cursor: pointer;
    background-color: blue;
}

.btn:not(hover) {
    transition: 0.5s;
}

.counts {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: darkblue;
    color: lightcoral;
    width: 120px;
    height: 20px;
    border: solid;
    border-radius: 10px;
}

.counts:hover {
    cursor: default;
}

.counts-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.lives-container {
    text-align: center;
    background-color: darkblue;
    border: solid;
    border-radius: 20px;
    height: 60px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 60px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 20px;
    height: 30px;
}

.lives {
    font-size: 20px;
}

.safes {
    font-size: 20px;
}

.bulbs {
    align-content: center;
    display: flex;
    align-items: center;
    gap: 5px;
}

.scoreboard {
    display: flex;
    gap: 60px;
    justify-content: center;
}

.dark-btn {
    margin-bottom: 10px;
}

.safe-btn {
    margin-bottom: 10px;
}

.marked-safe {
    background-color: yellow;
}